backup
*.DS_*
*.backup
last_rsync.log
venv*
cache
node_modules
npm-debug.log
db.sqlite3
*driver.log
.idea/
*tags
# .tags
.envrc
.env
__pycache__/
*.pyc
*.pid
*.db
*.vim
logs/
scripts/
scripts/
.idea/
